
body{
  margin: 0px;
}
.navigationBar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #bcec69a3;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;




  a {
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    color: #ffffff;
    text-shadow: #9c9c9c 0.1em 0.1em 0.1em;

  }

}
.logo {
  height: 90px;
  width: 90px;
  padding: 5px;
}


.quienessomos{
  margin: 120px;

  h1{
    margin-bottom: 50px;
  }
}

.experienceSection{
  padding: 20px;
  display:flex;
}

.experiencias {
  box-shadow:#9c9c9c 0.1em 0.1em 0.1em;
  /*border: thin solid #b4b4b4;*/
  border-radius: 10px;
  margin: 10px;
  width: 60%;
  flex-wrap: wrap;
  background-color: whitesmoke;
  padding: 10px;



.descriptionclass{
  font-family: 'Gowun Dodum', sans-serif;
  font-size: small;
  padding: 5px;
}

  .precioclass{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: small;
    font-weight: bold;
    padding: 5px;
  }
.duraclass{
  font-family: 'Gowun Dodum', sans-serif;
  font-size: small;
  padding: 5px;
}
  .accesclass{
    font-family: 'Gowun Dodum', sans-serif;
    font-size: small;
    padding: 5px;
  }


  &:hover {
    transform: translate(1px, 1px);
    background-color: #ffcc00;
    cursor: pointer;

  }
}

.titulo{
  font-family: 'Abril Fatface', cursive;
  padding: 5px;
  color: #4b7f55;
  margin-bottom: 5px;
}
footer{

  bottom:0;
  background-color:#cccccc;
  width: 100%;
  /*  poner footer abajo */
  position: fixed;
  left: 0;

}

.imgExp {
 background-size: 100%;
 width: 100%;
  padding: 5px;


}
.contactoestilo{
  font-size: small;
}
.contenedor {

  position: fixed;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  max-width: 100%;
}
.imgReserva  {
  width: 100%;
  height: 100%;
}
.textReserva {
  position: fixed;
  top: 20%;
  left: 20%;
  font-size: 25px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}


.classnombre{
  padding: 15px;

}

.classcorreo{
  padding: 15px;
}
.classfecha{
  padding: 15px;
}
.classnumeropersonas{
  padding: 15px;
}
.actividad{
  padding: 15px;

}
.boton {
  background-color: #4b7f55;
  border-radius: 7px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  margin: 15px;

}


.textoboton{
  text-decoration: none;
 color: whitesmoke;
}

.input1{
  margin-left: 20px;
}