

.navigationBar {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: #bcec69a3;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #e5e5e5;




  a {
    text-decoration: none;
    font-size: larger;
    padding: 20px;
    color: #ffffff;
    text-shadow: #9c9c9c 0.1em 0.1em 0.1em;

  }

}
.logo {
  height: 90px;
  width: 90px;
  padding: 5px;
}


.quienessomos{
  margin: 120px;

  h1{
    margin-bottom: 50px;

  }
}


.experienceSection{
  display:flex;

  padding: 20px;
}

.experiencias {
  width: 150px;
  box-shadow:#9c9c9c 0.1em 0.1em 0.1em;
  /*border: thin solid #b4b4b4;*/
  border-radius: 10px;
  margin: 10px;
  padding: 10px;


  &:hover {
    transform: translate(1px, 1px);
    background-color: #ffcc00;
    cursor: pointer;
  }
}

.titulo{
  font-family: 'Roboto', sans-serif;

}
footer{
  position:absolute;
  bottom:0;
  background-color:#cccccc;
  width: 100%;
}

.imgExp {
 background-size: 100%;


}